*

# I'm too lazy to reorganize my folder, so I'm doing this whitelist style.
!/.gitignore
!/README.md
!/COPYING

!/7th Chord/
!/7th Chord/README.md
!/7th Chord/util.py
!/7th Chord/l7c_dec.py
!/7th Chord/l7c_ex.py

!/Persona 5/
!/Persona 5/README.md
!/Persona 5/util.py
!/Persona 5/p5_table.py
!/Persona 5/p5_text.py
!/Persona 5/p5_unpack.py
!/Persona 5/cp932.py

!/Rose Twilight/
!/Rose Twilight/README.md
!/Rose Twilight/util.py
!/Rose Twilight/dsarc_ex.py
!/Rose Twilight/fad_ex.py
!/Rose Twilight/nis_dec.py
!/Rose Twilight/swizzle.py

!/Lego/
!/Lego/README.md
!/Lego/util.py
!/Lego/fib_dec.py
!/Lego/fib_ex.py
!/Lego/hog_dec.py
!/Lego/hog_ex.py
!/Lego/guess_ext.py
!/Lego/platforms.py

!/Sly Cooper/
!/Sly Cooper/README.md
!/Sly Cooper/util.py
!/Sly Cooper/sly_dec.py

!/Erogos/
!/Erogos/README.md
!/Erogos/util.py
!/Erogos/erogos_dat.py
!/Erogos/erogos_img.py
!/Erogos/erogos_keys.py

!/Kogado/
!/Kogado/README.md
!/Kogado/util.py
!/Kogado/hypack_ex.py

!/PARTICLE/
!/PARTICLE/README.md
!/PARTICLE/util.py
!/PARTICLE/epa_conv.py
!/PARTICLE/lyrs_ex.py

!/Level5/
!/Level5/README.md
!/Level5/util.py
!/Level5/xpck_ex.py
!/Level5/level5_dec.py
